#format = """
#$username\
#$hostname\
#$directory\
#$git_branch\
#$git_state\
#$git_status\
#$cmd_duration\
#$line_break\
#$python\
#$character"""

format = """
$username\
$hostname\
$localip\
$shlvl\
$singularity\
$directory\
$vcsh\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$docker_context\
$package\
$c\
$cmake\
$daml\
$deno\
$elm\
$lua\
$python\
$typst\
$buf\
$memory_usage\
$nats\
$direnv\
$env_var\
$custom\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$battery\
$time\
$status\
$os\
$container\
$netns\
$shell\
$conda\
$character"""

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
#format = "[${pyenv_prefix}$virtualenv]($style) "
style = "bright-black"
#format = "via [${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)"

[conda]
symbol = ""
format = "[$symbol$environment ]($style)"
style = "bright-black"

[c]
commands = [ [ 'tcc', '-v' ], [ 'gcc', '--version' ], [ 'clang', '--version' ] ]
